/*
 * Copyright Tharsis Labs Ltd.(Evmos)
 * SPDX-License-Identifier:ENCL-1.0(https://github.com/evmos/apps/blob/main/LICENSE)
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading {
    @apply font-medium text-heading;
  }
  .dark .heading {
    @apply text-heading-dark;
  }

  * {
    @apply focus-visible:rounded-xl focus-visible:outline focus-visible:outline-tertiary-container dark:focus-visible:outline-tertiary-container-dark tracking-wide;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
